body {
    height: 100vh;
    margin: 0px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.img-bg {
    margin: 0;
    padding: 10px;
    padding-bottom: 6px;
    background-color: #E5E7EB;
}

img {
    height: 250px;
    width: 500px;
}

.header {
    padding: 12px 15%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.links {
    display: flex;
    gap: 20px;
}

.links > a {
    flex-shrink: 0;
}

.logo {
    margin-right: 10%;
    font-size: 24px;
    font-weight: 900;
    flex-shrink: 0;
}

a {
    font-size: 18px;
    color: #E5E7EB;
    text-decoration: none;
}

.bg-darkblue {
    background-color: #1F2937;
    color: #F9FAF8;
}

.content-1 {
    flex: 1;
    display: flex;
    padding: 75px;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    gap: 36px;
}

.header-text {
    font-size: 48px;
    font-weight: 900;
    width: 350px;
    margin-bottom: 5px;
}

.text {
    width: 450px;
    color: #E5E7EB;
}

button {
    padding: 5px 24px;
    font-size: 18px;
    border: none;
    border-radius: 10px;
    margin-top: 12px;
    background-color: #3882F6;
    color: #F9FAF8;
}

.content-2 {
    padding: 100px 20%;
    display: flex;
    flex-direction: column;
    text-align: center;
    justify-content: center;
}

.cards-header {
    padding-bottom: 60px;
    flex-shrink: 0;
    font-size: 36px;
    color: #1F2937;
    font-weight: 900;
}

.cards {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}

.card {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 0 20px;
    margin-bottom: 60px;
}

.card-text {
    color: rgb(93, 93, 93);
    max-width: 150px;
    text-align: center;
}

.card-img-bg {
    margin: auto;
    display: flex;
    flex-grow: 1;
    flex-shrink: 0;
    justify-content: center;
    align-items: center;
    background-color: #E5E7EB;
    padding: 10px;
    margin-bottom: 8px;
}

.card-img {
    height: auto;
    width: 175px;
}

.quote-container {
    background-color: #E5E7EB;
    display: flex;
    flex-direction: column;
    padding: 5% 30%;
    align-items: center;
}
.quote {
    font-style: italic;
    color: #1F2937;
    font-weight: 300;
    font-size: 36px;
    width: 650px;
    margin-bottom: 12px;
}

.quote-person {
    margin-left: auto;
    font-weight: 700;
    font-size: 24px;
}

.call-to-action {
    padding: 75px 20%;
}

.container {
    font-size: 24px;
    display: flex;
    padding: 5% 15%;
    border-radius: 10px;
    background-color: #3882F6;
}

.action {
    color: #F9FAF8;
    font-size: 24px;
    font-weight: 900;
    flex-shrink: 0;
}

.small-action {
    color: #F9FAF8;
    font-size: 18px;
    font-weight: 300;
    flex-shrink: 0;
    margin-right: 5%;
}

.sign-up {
    flex-shrink: 0;
    margin-left: auto;
    border: 1px solid white;
}

.footer
{
    padding: 30px;
    text-align: center;
}
